@import 'colors';


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 24px;
    border-bottom: 1px solid $gray-border;
    background: #FFF;

    .logo {
        width: 190px;
        height: 20px;
        color: $primary;
    }
}

.header__user {
    font-size: 14px;
    font-weight: bold;
}
